@using WebAdminUI.Services.Accounts

@inject IJSRuntime jsRuntime
@inject IAccountClientService AccountClientService
@inject NavigationManager NavManager

<script>
    function applySlideInAnimation() {
        var navbarBrand = document.getElementById('navbarBrand');
        if (navbarBrand) {
            navbarBrand.classList.add('slide-in');
        }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="sidebar-container">
    <div class="nav-scrollable @NavMenuCssClass ">
        <div class="top-row navbar navbar-dark">
            <div class="container-fluid" style="display: inline-flex">
                <div class="icon-logo" @onclick="ToggleNavMenu"></div>
                @if (!collapseNavMenu)
                {
                    <a id="navbarBrand" class="navbar-brand" href="">F.A.C.T.S.</a>
                }
            </div>
        </div>
        <nav class="flex-column">
            @if (IsAnonymousUser)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D9D9D9">
                            <path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z" />
                        </svg>
                        @if (!collapseNavMenu)
                        {
                            <span>Login</span>
                        }
                    </NavLink>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="javascript:void(0);" @onclick="HandleLogout">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D9D9D9">
                            <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                        </svg>
                        @if (!collapseNavMenu)
                        {
                            <span>Logout</span>
                        }
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home">
                    <i class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></i>
                    @if (!collapseNavMenu)
                    {
                        <span>Home</span>
                    }
                </NavLink>
            </div>
            @if (!IsAnonymousUser)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-account">
                        <i class="fas fa-user-circle" style="font-size: 20px;"></i>
                        @if (!collapseNavMenu)
                        {
                            <span>Account</span>
                        }
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tradingview-graph-overview">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5" />
                        </svg>
                        @if (!collapseNavMenu)
                        {
                            <span>Graph Manager</span>
                        }
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="trade-bots/list">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D9D9D9">
                            <path d="M160-360q-50 0-85-35t-35-85q0-50 35-85t85-35v-80q0-33 23.5-56.5T240-760h120q0-50 35-85t85-35q50 0 85 35t35 85h120q33 0 56.5 23.5T800-680v80q50 0 85 35t35 85q0 50-35 85t-85 35v160q0 33-23.5 56.5T720-120H240q-33 0-56.5-23.5T160-200v-160Zm200-80q25 0 42.5-17.5T420-500q0-25-17.5-42.5T360-560q-25 0-42.5 17.5T300-500q0 25 17.5 42.5T360-440Zm240 0q25 0 42.5-17.5T660-500q0-25-17.5-42.5T600-560q-25 0-42.5 17.5T540-500q0 25 17.5 42.5T600-440ZM320-280h320v-80H320v80Zm-80 80h480v-480H240v480Zm240-240Z" />
                        </svg>
                        @if (!collapseNavMenu)
                        {
                            <span>Trade Bots Manager</span>
                        }
                    </NavLink>
                </div>
            }
        </nav>
    </div>
</div>



